.atto_helloworld_button .icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTMsMTdWMTlIMjFWMTdINE0zLDVWN0gyMVY1TTQsOVYxMUgyMFY5TTQsMTNWMTVIMjBWMTMiIGZpbGw9IiMwMDAiLz48L3N2Zz4=');
    background-size: cover;
    width: 16px;
    height: 16px;
}